:root {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
  --foreground-color: white;
  --background-color: black;
  --highlight-color: orange;
  
  overflow-y: hidden;
  
  color: var(--foreground-color);
  background-color: var(--background-color);
}

#root {
  height: 100vh;
}